@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/**/
:root{
    --soft-red: hsl(10, 79%, 65%);
    --cyan:hsl(186, 34%, 60%);
    --dark-brown:hsl(25, 47%, 15%);
    --medium-brown:hsl(28, 10%, 53%);
    --cream:hsl(27, 66%, 92%);
    --very-pale-orange:hsl(33, 100%, 98%);
    --main-font: 'DM Sans', sans-serif;;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cream);
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    font-family: var(--main-font);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*HEADER*/

.head{
   
    background-color: var(--soft-red);
    width: 30vw;
    height: 80px;
    border-radius:16px;
    margin-top: 100px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.text p{
    font-size: 12px;   
    color: var(--cream);
    margin-bottom: 4px;
}

.text h3{
    color: var(--very-pale-orange);
    font-size: 18px;
    letter-spacing: .8px;
}

.logo img{
    height: 32px;
}


/*MAIN CONTAINER*/

.container{
    background-color: var(--very-pale-orange);
    width: 30vw;
    height: 400px;
    border-radius:16px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*MAIN TITLE*/

.title h2{
    color: var(--dark-brown);
    font-size: 22px;
}

/*BARS*/

.charts{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 3px solid var(--cream);
}

.day{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 18px;
}

.bar{
    width: 45px;
    height: 140px;
    border-radius: 5px;
    background-color: var(--soft-red);
    position: relative;
    display: inline-block;
}

.active{
    background-color: var(--cyan);
}

.mon{
    height: 45px;
}

.tue{
    height: 90px;
}

.thu{
    height: 80px;
}

.fri{
    height: 60px;
}

.sat{
    height: 110px;
}

.sun{
    height: 65px;
}

.bar:hover{
    cursor: pointer;
    opacity: .8;
}


/*  Tooltips */ 

.tooltip {
    visibility: hidden;
    /* width: 120px; */
    background-color: var(--dark-brown);
    color: var(--very-pale-orange);
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    padding: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    /* left: 50%;
    margin-left: -60px; */
    margin-bottom: 5px;
}

.mon:hover .tooltip {
    visibility: visible;
}

.tue:hover .tooltip {
    visibility: visible;
}

.wed:hover .tooltip {
    visibility: visible;
}

.thu:hover .tooltip {
    visibility: visible;
}

.fri:hover .tooltip {
    visibility: visible;
}

.sat:hover .tooltip {
    visibility: visible;
}

.sun:hover .tooltip {
    visibility: visible;
}


.day p{
    font-size: 12px;   
    color: var(--medium-brown);
    font-weight: bold;
    text-align: center;
    margin-top: 4px;
}

/*TOTAL*/

.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total-text p{
    font-size: 12px;   
    color: var(--medium-brown);
    font-weight: bold;
}

.total-text h1{
    color: var(--dark-brown);
    font-size: 30px;
}

.month-text{
    align-self: flex-end;
}

.month-text h5{
    color: var(--dark-brown);
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

.month-text p{
    font-size: 12px;   
    color: var(--medium-brown);
    font-weight: bold;
}